<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container-fluid my-5">
		<h1 class="text-warning" th:text="${titulo}"></h1>
		<h1 hidden th:text="${idLocal}"></h1>
		<form sec:authorize="hasRole('ROLE_SUPERVISOR') || hasRole('ROLE_ADMIN')"
			th:action="${editable} ? @{'/locales/listar/'}+${idLocal}+@{/libros/editar} : @{'/locales/listar/'}+${idLocal}+@{/libros/crear/}"
			th:object="${libro}" method="post">
			<h3 class="mb-4">Título</h3>
			<div class="form-group">
				<div class="col-sm-6">
					<input class="form-control" type="text" name="titulo" placeholder="Título..."
						th:field="*{titulo}" /> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></small>
				</div>
			</div>

			<h3 class="mb-4">Autor</h3>
			<div class="form-group">
				<div class="col-sm-6">
					<input class="form-control" type="text" name="autor" placeholder="Autor..."
						th:field="*{autor}" /> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}"></small>
				</div>
			</div>

			<h3 class="mb-4">Descripción</h3>
			<div class="form-group">
				<div class="col-sm-6">
					<textarea class="form-control" rows="3" name="descripcion" placeholder="Descripción..."
						th:field="*{descripcion}" /></textarea>
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('descripcion')}"
						th:errors="*{descripcion}"></small>
				</div>
			</div>


			<h3 class="mb-4">Categoría</h3>
			<div class="form-group">
				<div class="col-sm-6">
					<input type="text" name="buscar_categoria" id="buscar_categoria"
						class="form-control" placeholder="Buscar categoría..."
						th:field="*{categoria.nombre}" />

				</div>
				<div class="col-sm-2" hidden>
					<input type="text" name="id_categoria" id="id_categoria"
						placeholder="Id Categoria" class="form-control"
						th:field="*{categoria.id}" readonly />
				</div>
			</div>

			<h3 class="mb-4" hidden>Local</h3>
			<div class="form-group" hidden>
				<div class="col-sm-6">
					<select class="form-control" th:field="*{local}"
						th:errorclass="'form-control alert-danger'">
						<option th:each="local :${local}" th:value="${local.id}"
							th:text="${local.direccion}"></option>
					</select> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('local')}" th:errors="*{local}"></small>
				</div>
			</div>

			<h3 class="mb-4">Fecha Publicación</h3>
			<div class="form-group">
				<div class="col-sm-6">
					<input class="form-control" type="text" name="fechaPublicacion"
						placeholder="yyyy-mm-dd" th:field="*{fechaPublicacion}" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('fechaPublicacion')}"
						th:errors="*{fechaPublicacion}"></small>
				</div>
			</div>
			
			<h3 class="mb-4">Stock</h3>
			<div class="form-group">
				<div class="col-sm-6">
					<input class="form-control" type="text" name="stock" th:field="*{stock}" placeholder="0" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('stock')}"
						th:errors="*{stock}"></small>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-6">
					<a class="btn btn-light btn-block"
						th:href="@{'/locales/listar/'}+${idLocal}+@{'/libros/cancelar/'}">Cancelar</a>
				</div>
				<div class="col-sm-6">
					<input class="btn btn-dark btn-block" type="submit"
						th:value="${editable}?'Guardar Libro':'Registrar Libro'" />
				</div>
			</div>

		</form>

		<form sec:authorize="hasRole('ROLE_SYSADMIN')"
			th:action="${editable} ? @{/libros/editar} : @{/libros/crear/}"
			th:object="${libro}" method="post">
			<h3 class="mb-4">Título</h3>
			<div class="form-group">
				<div class="col-sm-6">
					<input class="form-control" type="text" name="titulo" placeholder="Título..."
						th:field="*{titulo}" /> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></small>
				</div>
			</div>

			<h3 class="mb-4">Autor</h3>
			<div class="form-group">
				<div class="col-sm-6">
					<input class="form-control" type="text" name="autor" placeholder="Autor..."
						th:field="*{autor}" /> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}"></small>
				</div>
			</div>

			<h3 class="mb-4">Descripción</h3>
			<div class="form-group">
				<div class="col-sm-6">
					<textarea class="form-control" rows="3" name="descripcion" placeholder="Descripción..."
						th:field="*{descripcion}" /></textarea>
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('descripcion')}"
						th:errors="*{descripcion}"></small>
				</div>
			</div>


			<h3 class="mb-4">Categoría</h3>
			<div class="form-group">
				<div class="col-sm-6">
					<input type="text" name="buscar_categoria" id="buscar_categoria"
						class="form-control" placeholder="Buscar categoría..."
						th:field="*{categoria.nombre}" required />

				</div>
				<div class="col-sm-2" hidden>
					<input type="text" name="id_categoria" id="id_categoria"
						placeholder="Id Categoria" class="form-control"
						th:field="*{categoria.id}" readonly />
				</div>
			</div>

			<h3 class="mb-4">Local</h3>
			<div class="form-group">
				<div class="col-sm-6">
					<select class="form-control" th:field="*{locales}"
						multiple="multiple" size="3">
						<option th:each="local :${locales}" th:value="${local.id}"
							th:text="${local.direccion}"></option>
					</select> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('locales')}" th:errors="*{locales}"></small>
				</div>
			</div>

			<h3 class="mb-4">Fecha Publicación</h3>
			<div class="form-group">
				<div class="col-sm-6">
					<input class="form-control" type="text" name="fecha_publicacion"
						placeholder="yyyy-mm-dd" th:field="*{fecha_publicacion}" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('fecha_publicacion')}"
						th:errors="*{fecha_publicacion}"></small>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-6">
					<a class="btn btn-light btn-block" th:href="@{'/libros/cancelar/'}"><i
						class="fas fa-user-shield"></i> Cancelar</a>
				</div>
				<div class="col-sm-6">
					<input class="btn btn-dark btn-block" type="submit"
						th:value="${editable}?'Guardar Libro':'Registrar Libro'" />
				</div>
			</div>

		</form>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="layout/autocomplete-categorias :: javascript"></script>
	<script th:replace="layout/autocomplete-locales :: javascript"></script>
</body>
</html>