<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container-fluid my-5">
		<h1 class="text-warning" th:text="${titulo}"></h1>
		<h1 hidden th:text="${idLocal}"></h1>
		<form
			th:action="${editable} ?@{'/locales/listar/'}+${idLocal}+@{/libros/editar} :@{'/locales/listar/'}+${idLocal}+@{/libros/crear/}"
			th:object="${libro}" method="post">
			<h3 class="mb-4">Nombre</h3>
			<div class="form-group">
				<div class="col-sm-6">
					<input class="form-control" type="text" name="titulo"
						th:field="*{titulo}" /> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></small>
				</div>
			</div>

			<h3 class="mb-4">Autor</h3>
			<div class="form-group">
				<div class="col-sm-6">
					<input class="form-control" type="text" name="autor"
						th:field="*{autor}" /> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}"></small>
				</div>
			</div>

			<h3 class="mb-4">Descripción</h3>
			<div class="form-group">
				<div class="col-sm-6">
					<textarea class="form-control" rows="3" name="descripcion"
						th:field="*{descripcion}" /></textarea>
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('descripcion')}"
						th:errors="*{descripcion}"></small>
				</div>
			</div>


			<h3 class="mb-4">Categoría</h3>
			<div class="form-group">
				<div class="col-sm-6">
					<input type="text" name="buscar_categoria" id="buscar_categoria"
						class="form-control" placeholder="Buscar categoría..."
						th:field="*{categoria.nombre}" />

				</div>
				<div class="col-sm-2">
					<input type="text" name="id_categoria" id="id_categoria"
						placeholder="Id Categoria" class="form-control"
						th:field="*{categoria}" readonly /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('categoria')}"
						th:errors="*{categoria.nombre}"></small>
				</div>
			</div>

			<h3 class="mb-4">Local</h3>
			<div class="form-group">
				<div class="col-sm-6">
					<select class="form-control" th:field="*{locales}"
						th:errorclass="'form-control alert-danger'">
						<option th:each="local :${locales}" th:value="${local.id}"
							th:text="${local.direccion}"></option>
					</select> 
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('locales')}" th:errors="*{locales}"></small>
				</div>
			</div>

			<h3 class="mb-4">Fecha Publicación</h3>
			<div class="form-group">
				<div class="col-sm-6">
					<input class="form-control" type="text" name="fecha_publicacion"
						placeholder="yyyy-mm-dd" th:field="*{fecha_publicacion}" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('fecha_publicacion')}"
						th:errors="*{fecha_publicacion}"></small>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-6">
					<a class="btn btn-light btn-block"
						th:href="@{'/locales/listar/'}+${idLocal}+@{'/libros/cancelar/'}">Cancelar</a>
				</div>
				<div class="col-sm-6">
					<input class="btn btn-dark btn-block" type="submit"
						th:value="${editable}?'Guardar Libro':'Registrar Libro'" />
				</div>
			</div>

		</form>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="layout/autocomplete-categorias :: javascript"></script>
	<script th:replace="layout/autocomplete-locales :: javascript"></script>
</body>
</html>