<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="layout/layout :: head"></head>

  <body class="bg-light">
    <header th:replace="layout/layout :: header"></header>

    <div class="container my-3 px-5">
      <h1 class="py-4" th:text="${titulo}"></h1>

      <div class="form-group row py-1">
        <div class="col-12">
          <h3>Reporte General</h3>
        </div>
        <div class="col-10 col-md-10 col-lg-10">
          <h4 class="text-muted">Listado de todos los libros</h4>
        </div>
        <div class="col-6 col-md-1 col-xl-1">
          <a
            class="btn btn-transparent btn-block rounded-0 border-0 py-1"
            th:href="@{'/locales/libros/reportes/pdf/libros-unicos'}"
            target="_blank"
            data-toggle="tooltip"
            data-placement="auto"
            th:title="'Exportar PDF'"
            ><i class="fas fa-file-pdf fa-2x text-danger"></i
          ></a>
        </div>
        <div class="col-6 col-md-1 col-xl-1">
          <a
            class="btn btn-transparent btn-block rounded-0 border-0 py-1"
            th:href="@{'/locales/libros/reportes/xlsx/libros-unicos'}"
            data-toggle="tooltip"
            data-placement="auto"
            th:title="'Exportar XLSX'"
            ><i class="fas fa-file-excel fa-2x text-success"></i
          ></a>
        </div>
      </div>

      <form
        th:action="@{/locales/libros/reportes/buscar-libros-por-categoria}"
        sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_EMPLEADO')"
        method="GET"
      >
        <div class="form-group row">
          <div class="col-12">
            <h3>Filtrar Por Categoría</h3>
          </div>
        </div>
        <div class="form-group row pb-3">
          <div class="col-sm-12 col-md-8 col-xl-8 py-2">
            <input
              type="text"
              name="categoria_libro"
              id="categoria_libro"
              class="form-control rounded-0 shadow-none"
              placeholder="Buscar libros por su categoria"
            />
          </div>
          <div class="col-sm-12 col-md-4 col-xl-4 py-2">
            <input
              type="submit"
              th:value="'Verificar Disponibilidad'"
              class="btn btn-info btn-block rounded-0 border-0"
            />
          </div>
        </div>
      </form>

        <div class="form-group row">
          <div class="col-12">
            <h3>Filtrar Por Estado</h3>
          </div>
        </div>

        <div class="form-group row" th:each="estado, index : ${estados}">
          <h4 class="col-12 col-sm-12 col-md-10 text-muted">Libros [[${estado}?'Disponibles':'Inhabilitados']]</h4>
          <div class="col-6 col-sm-6 col-md-1 col-xl-1 text-center">
            <a
              class="btn btn-transparent btn-block rounded-0 border-0 py-1"
              th:href="@{'/locales/libros/reportes/pdf/libros-por-estado/'}+${estado}"
              target="_blank"
              data-toggle="tooltip"
              data-placement="auto"
              th:title="'Exportar PDF'"
              ><i class="fas fa-file-pdf fa-2x text-danger"></i
            ></a>
          </div>
          <div class="col-6 col-sm-6 col-md-1 col-xl-1 text-center">
            <a
              class="btn btn-transparent btn-block rounded-0 border-0 py-1"
              th:href="@{'/locales/libros/reportes/xlsx/libros-por-estado/'}+${estado}"
              data-toggle="tooltip"
              data-placement="auto"
              th:title="'Exportar XLSX'"
              ><i class="fas fa-file-excel fa-2x text-success"></i
            ></a>
          </div>
        </div>

        <!-- <div class="form-group row pb-3" th:each="estado, index : ${estados}">
          <div class="col-12 col-sm-10 col-md-10 col-xl-10 py-2">
            <div class="custom-control custom-radio">
              <input type="radio" th:id="'estadoLibro'+${index.index+1}" th:name="'estadoLibro'" 
              th:field="${libro.estado}" class="custom-control-input" th:value="${estado}">
              <label class="custom-control-label" th:for="'estadoLibro'+${index.index+1}">[[${estado}?'Activo':'Inactivo']]</label>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-1 col-xl-1 text-center">
            <a
              class="btn btn-transparent btn-block rounded-0 border-0 py-1"
              th:href="@{'/locales/libros/reportes/pdf/libros-por-estado/'}+${estado}"
              target="_blank"
              data-toggle="tooltip"
              data-placement="auto"
              th:title="'Exportar PDF'"
              ><i class="fas fa-file-pdf fa-2x text-danger"></i
            ></a>
          </div>
          <div class="col-6 col-sm-6 col-md-1 col-xl-1 text-center">
            <a
              class="btn btn-transparent btn-block rounded-0 border-0 py-1"
              th:href="@{'/locales/libros/reportes/xlsx/libros-por-estado/'}+${estado}"
              data-toggle="tooltip"
              data-placement="auto"
              th:title="'Exportar XLSX'"
              ><i class="fas fa-file-excel fa-2x text-success"></i
            ></a>
          </div>
        </div> -->

     </div>

      <div class="form-group row py-4">
        <!-- WEB -->
        <div class="col-sm-12 col-md-12 py-2">
          <a
            class="btn btn-transparent btn-block shadow-none font-weight-bolder"
            th:href="@{'/locales/libros/cancelar'}"
            >CANCELAR</a
          >
        </div>
      </div>
    </div>

    <footer th:replace="layout/layout :: footer"></footer>
    <script
      th:replace="layout/autocomplete-libros-por-categoria :: javascript"
    ></script>
  </body>
</html>
