<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container-fluid my-5">
		<h1 class="text-warning" th:text="${titulo}"></h1>
		<h1 hidden th:text="${idLocal}"></h1>
		<p sec:authorize="hasRole('ROLE_ADMIN')">
			<a class="btn btn-primary btn-xs"
				th:href="@{'/locales/libros/crear/'}"><i
				class="fas fa-shield-alt"></i> Registrar Libro</a>
		</p>
		<p sec:authorize="hasRole('ROLE_SYSADMIN')">
			<a class="btn btn-primary btn-xs" th:href="@{'/libros/crear/'}"><i
				class="fas fa-user-shield"></i> Registrar Libro</a>
		</p>
		<h1 th:if="${#lists.isEmpty(libros)}">No hay libros en este local</h1>
		<table class="table table-responsive"th:if="${not #lists.isEmpty(libros)}">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titulo</th>
					<th>Autor</th>
					<th>Categoría</th>
					<th>Fecha Publicación</th>
					<th>Fecha Registro</th>
					<th>Stock</th>
					<th>Estado</th>
					<th colspan="2" sec:authorize="hasRole('ROLE_ADMIN')">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="libro: ${libros}">
					<td th:text="${libro.id}"></td>
					<td th:text="${libro.titulo}"></td>
					<td th:text="${libro.autor}"></td>
					<td th:text="${libro.categoria.nombre}"></td>
					<td th:text="${libro.fechaPublicacion}"></td>
					<td th:text="${libro.fechaRegistro}"></td>
					<td th:text="${libro.stock}"></td>
					<th:block th:with="estado=${libro.estado}">
						<td th:if="${estado}">
							<h5>
								<span class="badge badge-success" th:text="'Activo'"></span>
							</h5>
						</td>
						<td th:if="${estado}" sec:authorize="hasRole('ROLE_SYSADMIN')"><a
							class="btn btn-warning btn-xs"
							th:href="@{'/libros/editar/'}+${libro.id}"><i
								class="fas fa-shield-alt"></i> Editar</a></td>
						<td th:if="${estado}" sec:authorize="hasRole('ROLE_ADMIN')">
							<a class="btn btn-warning btn-xs"
							th:href="@{'/locales/libros/editar/'}+${libro.id}"> <i
								class="fas fa-shield-alt"></i> Editar
						</a>
						</td>
						<td th:if="${estado}" sec:authorize="hasRole('ROLE_SYSADMIN')"><a
							class="btn btn-info btn-xs"
							th:href="@{'/libros/deshabilitar/'}+${libro.id}"
							onclick="return confirm('Seguro de querer deshabilitar el libro?');"><i
								class="fas fa-shield-alt"></i> Deshabilitar</a></td>
						<td th:if="${estado}" sec:authorize="hasRole('ROLE_ADMIN')"><a
							class="btn btn-info btn-xs"
							th:href="@{'/locales/libros/deshabilitar/'}+${libro.id}"
							onclick="return confirm('Seguro de querer deshabilitar el libro?');"><i
								class="fas fa-shield-alt"></i> Deshabilitar</a></td>
						<td th:unless="${estado}">
							<h5>
								<span class="badge badge-danger" th:text="'Inactivo'"></span>
							</h5>
						</td>
						<td th:unless="${estado}" sec:authorize="hasRole('ROLE_SYSADMIN')"><a
							class="disabled btn btn-secondary btn-xs"
							th:href="@{'/libros/editar/'}+${libro.id}"><i
								class="fas fa-shield-alt"></i> Editar</a></td>
						<td th:unless="${estado}" sec:authorize="hasRole('ROLE_ADMIN')">
							<a class="disabled btn btn-secondary btn-xs"
							th:href="@{'/locales/libros/editar/'}+${libro.id}"> <i
								class="fas fa-shield-alt"></i> Editar
						</a>
						</td>
						<td th:unless="${estado}" sec:authorize="hasRole('ROLE_SYSADMIN')"><a
							class="disabled btn btn-secondary btn-xs"
							th:href="@{'/libros/deshabilitar/'}+${libro.id}"
							onclick="return confirm('Seguro de querer deshabilitar el libro?');"><i
								class="fas fa-shield-alt"></i> Deshabilitar</a></td>
						<td th:unless="${estado}" sec:authorize="hasRole('ROLE_ADMIN')"><a
							class="disabled btn btn-secondary btn-xs"
							th:href="@{'/locales/libros/deshabilitar/'}+${libro.id}"
							onclick="return confirm('Seguro de querer deshabilitar el libro?');"><i
								class="fas fa-shield-alt"></i> Deshabilitar</a></td>
					</th:block>
				</tr>
			</tbody>
		</table>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>