<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8" />
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container-fluid my-5">
		<h1 class="text-warning" th:text="${titulo}"></h1>
		<form class="form" role="form" th:action="${editable}?@{/usuarios/editar}:@{/usuarios/crear}"
			th:object="${usuario}" method="post">
			<div class="form-group">
				<label class="col-sm-2 col-form-label">Nombre(s)</label>
				<div class="col-sm-6">
					<input class="form-control" type="text"
						th:field="${usuario.nombres}"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('nombres')}"
						th:errors="${usuario.nombres}"></small>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 col-form-label">Apellidos</label>
				<div class="col-sm-6">
					<input class="form-control" type="text"
						th:field="${usuario.apellidos}"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('apellidos')}" th:errors="${usuario.apellidos}"></small>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 col-form-label">Nro. Documento</label>
				<div class="col-sm-6">
					<input class="form-control" type="number"
						th:field="${usuario.nroDocumento}"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('nroDocumento')}"
						th:errors="${usuario.nroDocumento}"></small>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 col-form-label">Dirección</label>
				<div class="col-sm-6">
					<input class="form-control" type="text"
						th:field="${usuario.direccion}"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('direccion')}" th:errors="${usuario.direccion}"></small>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 col-form-label">Email</label>
				<div class="col-sm-6">
					<input class="form-control" type="email"
						th:field="${usuario.email}"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('email')}" th:errors="${usuario.email}"></small>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 col-form-label">Celular</label>
				<div class="col-sm-6">
					<input class="form-control" type="number"
						th:field="${usuario.celular}"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('celular')}" th:errors="${usuario.celular}"></small>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 col-form-label">Usuario</label>
				<div class="col-sm-6">
					<input class="form-control" type="text"
						th:field="${usuario.username}"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('username')}" th:errors="${usuario.username}"></small>
				</div>
			</div>
			<div class="form-group" th:if="${editable==null or editable==false}">
				<label class="col-sm-2 col-form-label">Contraseña</label>
				<div class="col-sm-6">
					<input class="form-control" type="password"
						th:field="${usuario.password}"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('password')}" th:errors="${usuario.password}"></small>
				</div>
			</div>
			<div class="form-group" th:if="${editable==null or editable==false}">
				<label class="col-sm-2 col-form-label">Confirmar Contraseña</label>
				<div class="col-sm-6">
					<input class="form-control" type="password"
						th:field="${usuario.passwordConfirmacion}"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('passwordConfirmacion')}"
						th:errors="${usuario.passwordConfirmacion}"></small>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 col-form-label">Rol</label>
				<div class="col-sm-6">
					<select class="form-control" th:field="${usuario.roles}"
						th:errorclass="'form-control alert-danger'">
						<option th:each="rol :${roles}" th:value="${rol.id}"
							th:text="${rol.authority}"></option>
					</select> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('roles')}" th:errors="${usuario.roles}"></small>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-6">
					<a class="btn btn-light btn-block"
						th:href="@{'/usuarios/cancelar'}">Cancelar</a>
				</div>
				<div class="col-sm-6">
					<input class="btn btn-dark btn-block" type="submit"
						th:value="${editable}?'Guardar Usuario':'Crear Usuario'" />
				</div>
			</div>
			
			<input class="form-control" type="hidden" th:field="${usuario.id}"
				th:if="${editable}" /> 
			<input class="form-control" type="hidden" name="password" 
				value="xxxx" th:if="${editable}" /> 
			<input class="form-control" type="hidden" name="passwordConfirmacion"
				value="xxxx" th:if="${editable}" />			
		</form>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>