<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title th:text="'Biblioteca | ${titulo}'"></title>
<head th:replace="layout/layout :: head"></head>
<body>

	<div class="container">
		<h1 th:text="${titulo}"></h1>
		<span th:text="'Excelente! Tu cuenta ha sido activada y el correo ha sido verificado.'"></span>
		<a th:href="@{/login}" th:text="'Ir a Login'" class="btn btn-outline-dark"></a>
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>