<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8" />
<title th:text="'Biblioteca'"></title>
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container p-3">
		<h1 th:text="${titulo}" class="pt-3"></h1>

		<hr class="col-1 bg-secondary my-5">

		<div class="card-deck my-4">
			<div th:each="libro: ${libros}" class="card">
				<div class="px-5">
					<img class="responsive card-img-top px-3" height="500"
						th:src="${libro.foto_libro}!='' ? @{'/uploads/'}+${libro.foto_libro} : @{'/uploads/no-book.jpg'}"
						alt="Imagen libro">
				</div>
				<div class="card-body">
					<h4 class="card-title text-right" th:text="${libro.titulo}"></h4>
					<h5 class="card-title text-right text-muted"
						th:text="${libro.autor}"></h5>
					<p class="card-text text-right" id="textArea"
						th:text="${libro.descripcionMin}"></p>

					<div class="card-footer p-0 pt-2 bg-white">
						<small class="text-muted"
							th:text="'Fecha de Publicación: ' + ${libro.fechaPublicacion}"></small><br />
						<small class="text-muted"
							th:text="'Género: ' + ${libro.categoria.nombre}"></small>

						<div class="row h-100 mt-2">
							<div class="col-6 my-auto">
								<h5>
									<span class="badge badge-success"
										th:text="'Stock: ' + ${libro.stock}"></span>
								</h5>
							</div>
							<div class="col-6">
								<div class="p-0 py-2">
									<a class="btn btn-info btn-block text-white disabled" th:text="'Ver Disponibilidad'"></a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>