<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="layout/layout :: head"></head>

  <body class="bg-light">
    <header th:replace="layout/layout :: header"></header>

    <div class="container-fluid px-5">
      <div class="jumbotron jumbotron-fluid bg-transparent">
        <h1 class="display-4" th:text="${titulo}"></h1>
      </div>

      <h2 th:if="${#lists.isEmpty(usuarios)}">No hay usuarios</h2>

      <div class="row">
        <div class="col-12">
          <div class="row justify-content-between">
            <div
              class="col-sm-4 col-md-3 col-lg-2"
              sec:authorize="hasRole('ROLE_SYSADMIN') || hasRole('ROLE_ADMIN')"
            >
              <a
                class="btn btn-primary btn-block rounded-0 border-0 py-2"
                th:href="@{/usuarios/crear}"
                data-toggle="tooltip"
                data-placement="top"
                th:title="'Nuevo'"
                ><i class="fas fa-plus fa-lg"></i
              ></a>
            </div>
            <div class="col-sm-5"></div>

            <div
              class="col-sm-3 col-md-3 col-lg-2"
              th:if="${not #lists.isEmpty(usuarios)}"
            >
              <a
                class="btn btn-transparent btn-block rounded-0 border-0"
                th:href="@{'/usuarios/reportes'}"
                data-toggle="tooltip"
                data-placement="auto"
                th:title="'Generar reportes'"
                ><i class="fas fa-clipboard-list fa-2x"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-12">
          <table
            class="table table-responsive table-borderless"
            th:if="${not #lists.isEmpty(usuarios)}"
          >
            <caption
              class="py-4"
              th:text="'Total: ' + ${#lists.size(usuarios)}"
            ></caption>
            <thead class="table-dark">
              <tr>
                <th hidden>Id</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Nro Documento</th>
                <th>Dirección</th>
                <th>Email</th>
                <th>Celular</th>
                <th>Fecha Registro</th>
                <th sec:authorize="!hasRole('ROLE_USER')">Username</th>
                <th sec:authorize="!hasRole('ROLE_USER')">Estado</th>
                <th:block
                  sec:authorize="hasRole('ROLE_SYSADMIN') || hasRole('ROLE_ADMIN')"
                >
                  <th colspan="1" class="text-center">Opciones</th>
                </th:block>
              </tr>
            </thead>
            <tbody>
              <tr th:each="usuario: ${usuarios}">
                <td class="align-middle" th:text="${usuario.id}" hidden></td>
                <td class="align-middle" th:text="${usuario.nombres}"></td>
                <td class="align-middle" th:text="${usuario.apellidos}"></td>
                <td class="align-middle" th:text="${usuario.nroDocumento}"></td>

                <th:block th:switch="${usuario.direccion}">
                  <td
                    class="align-middle"
                    th:case="null"
                    th:text="'No disponible'"
                  ></td>
                  <td
                    class="align-middle"
                    th:case="''"
                    th:text="'No disponible'"
                  ></td>
                  <td
                    class="align-middle"
                    th:case="*"
                    th:text="${usuario.direccion}"
                  ></td>
                </th:block>

                <td class="align-middle" th:text="${usuario.email}"></td>
                <td class="align-middle" th:text="${usuario.celular}"></td>
                <td
                  class="align-middle"
                  th:text="${usuario.fecha_registro}"
                ></td>
                <td
                  class="align-middle"
                  sec:authorize="!hasRole('ROLE_USER')"
                  th:text="${usuario.username}"
                ></td>

                <th:block
                  sec:authorize="!hasRole('ROLE_USER')"
                  th:with="estado=${usuario.estado}"
                >
                  <th:block th:if="${estado}">
                    <td class="align-middle pl-2">
                      <h5>
                        <span
                          class="badge badge-transparent text-success font-weight-bold"
                          th:text="'Activo'"
                        ></span>
                      </h5>
                    </td>
                    <td
                      class="align-middle"
                      sec:authorize="hasRole('ROLE_SYSADMIN') || hasRole('ROLE_ADMIN')"
                    >
                      <a
                        class="btn btn-transparent btn-block rounded-0 shadow-none text-white"
                        th:onclick="'javascript:confirmDeshabilitar(\''+ ${usuario.id} +'\');'"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        th:title="'Deshabilitar'"
                        ><i class="fas fa-ban fa-lg text-info"></i
                      ></a>
                    </td>
                  </th:block>

                  <th:block th:unless="${estado}">
                    <td class="align-middle pl-2">
                      <h5>
                        <span
                          class="badge badge-transparent text-danger font-weight-bold"
                          th:text="'Inactivo'"
                        ></span>
                      </h5>
                    </td>
                    <td class="align-middle">
                      <a
                        class="disabled btn btn-transparent btn-block rounded-0 shadow-none"
                        th:href="'#'"
                        ><i class="fas fa-ban fa-lg text-secondary"></i>
                      </a>
                    </td>
                  </th:block>
                </th:block>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <footer th:replace="layout/layout :: footer"></footer>
    <div th:include="usuarios/confirm-delete-modal.html" th:remove="tag"></div>
    <div
      th:include="usuarios/confirm-deshabilitar-modal.html"
      th:remove="tag"
    ></div>
    <script type="text/javascript">
      function confirmDeshabilitar(id) {
        $("#deshabilitarModal").modal("show");
        $("#userIdHiddenInput").val(id);
      }

      function deshabilitar() {
        var id = $("#userIdHiddenInput").val();
        window.location = "deshabilitar/" + id;
      }

      function confirmDelete(id) {
        $("#deleteModal").modal("show");
        $("#userIdHiddenInput").val(id);
      }

      function eliminar() {
        var id = $("#userIdHiddenInput").val();
        window.location = "eliminar/" + id;
      }
    </script>
  </body>
</html>
