<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body class="bg-light">

	<header th:replace="layout/layout :: header"></header>

	<div class="container-fluid my-3 px-5">
		<h1 class="text-warning py-2" th:text="${titulo}"></h1>

		<p sec:authorize="hasRole('ROLE_ADMIN')">
			<a class="btn btn-primary btn-xs" th:href="@{/usuarios/crear}"><i
				class="fas fa-shield-alt"></i> Crear Usuario</a>
		</p>

		<h1 th:if="${#lists.isEmpty(usuarios)}">No hay usuarios</h1>

		<table class="table table-responsive"
			th:if="${not #lists.isEmpty(usuarios)}">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombres</th>
					<th>Apellidos</th>
					<th>Nro Documento</th>
					<th>Dirección</th>
					<th>Email</th>
					<th>Celular</th>
					<th>Fecha Registro</th>
					<th sec:authorize="!hasRole('ROLE_USER')">Username</th>
					<th sec:authorize="!hasRole('ROLE_USER')">Estado</th>
					<th:block sec:authorize="hasRole('ROLE_ADMIN')">
						<th colspan="1">Opciones</th>
					</th:block>
				</tr>
			</thead>
			<tbody>
				<tr th:each="usuario: ${usuarios}">
					<td th:text="${usuario.id}"></td>
					<td th:text="${usuario.nombres}"></td>
					<td th:text="${usuario.apellidos}"></td>
					<td th:text="${usuario.nroDocumento}"></td>

					<th:block th:switch="${usuario.direccion}">
						<td th:case="null" th:text="'No tiene'"></td>
						<td th:case="''" th:text="'No tiene'"></td>
						<td th:case="*" th:text="${usuario.direccion}"></td>
					</th:block>

					<td th:text="${usuario.email}"></td>
					<td th:text="${usuario.celular}"></td>
					<td th:text="${usuario.fecha_registro}"></td>
					<td sec:authorize="!hasRole('ROLE_USER')"
						th:text="${usuario.username}"></td>

					<th:block sec:authorize="!hasRole('ROLE_USER')"
						th:with="estado=${usuario.estado}">
						<td th:if="${estado}">
							<h5>
								<span class="badge badge-success" th:text="'Activo'"></span>
							</h5>
						</td>
						<td th:if="${estado}" sec:authorize="hasRole('ROLE_ADMIN')"><a
							class="btn btn-info btn-xs text-white"
							th:onclick="'javascript:confirmDeshabilitar(\''+ ${usuario.id} +'\');'"><i
								class="fas fa-shield-alt"></i> Deshabilitar</a></td>
						<td th:unless="${estado}">
							<h5>
								<span class="badge badge-danger" th:text="'Inactivo'"></span>
							</h5>
						</td>
						<td th:unless="${estado}"
							sec:authorize="hasRole('ROLE_ADMIN')"><a
							class="disabled btn btn-secondary btn-xs text-white"><i
								class="fas fa-shield-alt"></i> Deshabilitar</a></td>
					</th:block>

				</tr>
			</tbody>
		</table>
		
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<div th:include="usuarios/confirm-delete-modal.html" th:remove="tag"></div>
	<div th:include="usuarios/confirm-deshabilitar-modal.html" th:remove="tag"></div>
	<script type="text/javascript">
		function confirmDeshabilitar(id) {
			$('#deshabilitarModal').modal('show');
			$("#userIdHiddenInput").val(id);
		}

		function deshabilitar() {
			var id = $("#userIdHiddenInput").val();
			window.location = "deshabilitar/" + id;
		}

		function confirmDelete(id) {
			$('#deleteModal').modal('show');
			$("#userIdHiddenInput").val(id);
		}

		function eliminar() {
			var id = $("#userIdHiddenInput").val();
			window.location = "eliminar/" + id;
		}
	</script>

</body>
</html>