<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body class="bg-light">

	<th:block th:if="${editable}">
		<header th:replace="layout/layout :: header"></header>
	</th:block>

	<div id="alertPers"
		class="alert alert-danger alert-dismissible fade show" role="alert"
		th:if="${error!=null}" th:text="${error}">
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="container my-4">
		<h2 class="text-warning" th:text="${titulo}"></h2>
		<form
			th:action="${editable} ?@{/usuarios/editar-perfil} :@{/usuarios/crear-perfil}"
			th:object="${usuario}" method="post" enctype="multipart/form-data">

			<h4 class="my-4" th:text="'Datos personales'"></h4>
			<div class="form-group row">
				<div class="col-md-6">
					<label class="col-form-label">Nombre(s)</label> <input
						class="form-control" type="text" th:field="${usuario.nombres}"
						th:errorclass="'form-control'" placeholder="Nombre Completo..."
						autofocus /> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('nombres')}"
						th:errors="${usuario.nombres}"></small>
				</div>
				<div class="col-md-6">
					<label class="col-form-label">Apellidos</label> <input
						class="form-control" type="text" th:field="${usuario.apellidos}"
						th:errorclass="'form-controL'"
						placeholder="Apellido Paterno y Materno..." /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('apellidos')}"
						th:errors="${usuario.apellidos}"></small>
				</div>
				<div class="col-md-6">
					<label class="col-form-label">DNI</label> <input
						class="form-control" type="number"
						th:field="${usuario.nroDocumento}" th:errorclass="'form-control'"
						placeholder="00000000" /> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('nroDocumento')}"
						th:errors="${usuario.nroDocumento}"></small>
				</div>
				<div class="col-md-6">
					<label class="col-form-label">Dirección</label> <input
						class="form-control" type="text" th:field="${usuario.direccion}"
						th:errorclass="'form-control'" placeholder="Av/Jr/Calle..." /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('direccion')}"
						th:errors="${usuario.direccion}"></small>
				</div>
				<div class="col-md-6">
					<label class="col-form-label">Celular</label> <input
						class="form-control" type="number" th:field="${usuario.celular}"
						th:errorclass="'form-control'" placeholder="999999999" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('celular')}"
						th:errors="${usuario.celular}"></small>
				</div>
			</div>

			<h4 th:text="'Datos de usuario'"></h4>
			<div class="form-group row">
				<div class="col-md-6">
					<label class="col-form-label">Usuario</label> <input
						class="form-control" type="text" th:field="${usuario.username}"
						th:errorclass="'form-control'" placeholder="Usuario..." /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('username')}"
						th:errors="${usuario.username}"></small>
				</div>
				<div class="col-md-6">
					<label class="col-form-label">Email</label> <input
						class="form-control" type="email" th:field="${usuario.email}"
						th:errorclass="'form-control'" placeholder="test@email.com" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('email')}" th:errors="${usuario.email}"></small>
				</div>
			</div>

			<div class="form-group row"
				th:if="${editable==null or editable==false}">
				<div class="col-md-6">
					<label class="col-form-label">Contraseña</label> <input
						class="form-control" type="password"
						th:field="${usuario.password}" th:errorclass="'form-control'"
						placeholder="Contraseña..." /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('password')}"
						th:errors="${usuario.password}"></small>
				</div>
				<div class="col-md-6">
					<label class="col-form-label">Confirmar Contraseña</label> <input
						class="form-control" type="password"
						th:field="${usuario.passwordConfirmacion}"
						th:errorclass="'form-control'"
						placeholder="Escribe nuevamente tu contraseña..." /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('passwordConfirmacion')}"
						th:errors="${usuario.passwordConfirmacion}"></small>
				</div>
			</div>

			<div class="form-group row" hidden>
				<div class="col-md-6">
					<label class="col-form-label">Rol</label> <select
						class="form-control" th:field="${usuario.roles}"
						th:errorclass="'form-control'">
						<option th:each="rol :${roles}" th:value="${rol.id}"
							th:text="${rol.authority}"></option>
					</select> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('roles')}" th:errors="${usuario.roles}"></small>
				</div>
			</div>

			<h4 class="mb-4" th:if="${editable}">Foto</h4>
			<div class="form-group row" th:if="${editable}">
				<div class="col-md-6 p-3" style="text-align: center;"
					th:if="${editable}">
					<img
						th:if="${usuario.foto_usuario!=null && #strings.length(usuario.foto_usuario) > 0}"
						class="img-thumbnail rounded" style="max-width: 70%;"
						th:alt="${usuario.foto_usuario}"
						th:src="@{'/uploads/'+${usuario.foto_usuario}}">
				</div>
				<div class="col-md-6 p-3" style="position: relative;">
					<th:block th:if="${editable}">
						<input style="position: absolute; bottom: 0;"
							class="form-control-file" type="file" name="foto_usu" />
						<small class="form-text text-danger"
							th:if="${#fields.hasErrors('foto_usuario')}"
							th:errors="*{foto_usuario}"></small>
					</th:block>
				</div>
			</div>

			<div class="form-group row py-4">

				<th:block th:if="${editable}" sec:authorize="isAuthenticated()">
					<div class="col-md-4">
						<a class="btn btn-light btn-block" th:href="@{'/home'}">Cancelar</a>
					</div>
					<div class="col-md-4">
						<a class="btn btn-danger btn-block"
							th:href="@{'/usuarios/deshabilitar-perfil'}"
							onclick="return confirm('¿Seguro de querer deshabilitar tu cuenta? ESTA ACCIÒN NO SE PUEDE DESHACER!');">Deshabilitar
							Cuenta</a>
					</div>
					<div class="col-md-4">
						<input class="btn btn-dark btn-block" type="submit"
							th:value="'Guardar Usuario'" />
					</div>
				</th:block>
				<th:block th:else sec:authorize="!isAuthenticated()">
					<div class="col-md-6">
						<a class="btn btn-light btn-block" th:href="@{'/login'}">Cancelar</a>
					</div>
					<div class="col-md-6">
						<input class="btn btn-dark btn-block" type="submit"
							th:value="'Crear Usuario'" />
					</div>
				</th:block>

			</div>

		</form>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>