<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container-fluid my-5">
		<h1 class="text-warning" th:text="${titulo}"></h1>
		<th:block sec:authorize="isAuthenticated() && hasRole('ROLE_ADMIN')">
			<p hidden>
				<a class="btn btn-primary btn-xs" th:href="@{/empresas/crear}">Crear
					Empresa</a>
			</p>
		</th:block>

		<table class="table table-responsive">
			<thead>
				<tr>
					<th>Id</th>
					<th>Razón Social</th>
					<th>Dirección</th>
					<th>Ruc</th>
					<th>Estado</th>
					<th sec:authorize="isAuthenticated() && hasRole('ROLE_ADMIN')" colspan="3">Opciones</th>
					<th sec:authorize="isAuthenticated() && hasRole('ROLE_SUPERVISOR')">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="empresa: ${empresas}">
					<td th:text="${empresa.id}"></td>
					<td th:text="${empresa.razonSocial}"></td>
					<td th:text="${empresa.direccion}"></td>
					<td th:text="${empresa.ruc}"></td>
					<td th:text="${empresa.estado}"></td>
					<td><a
						sec:authorize="isAuthenticated() && hasRole('ROLE_ADMIN')"
						class="btn btn-success btn-xs"
						th:href="@{/empresas/editar/}+${empresa.id}" th:text="'Editar'"></a></td>					
					<td><a
						sec:authorize="isAuthenticated() && hasRole('ROLE_ADMIN')"
						class="btn btn-warning btn-xs"
						th:href="@{/empresas/deshabilitar/}+${empresa.id}"
						th:text="'Deshabilitar'"
						onclick="return confirm('Seguro de querer deshabilitar la empresa?');"></a></td>
					<td><a
						sec:authorize="isAuthenticated() && hasRole('ROLE_SUPERVISOR') || hasRole('ROLE_ADMIN')"
						class="btn btn-dark btn-xs"
						th:href="@{/locales/listar/}+${empresa.id}"
						th:text="'Ver Locales'"></a></td>
					<th:block
						sec:authorize="isAuthenticated() && hasRole('ROLE_ADMIN')">
						<!-- td><a class="btn btn-danger btn-xs"
						th:href="@{/empresas/eliminar/}+${empresa.id}"
						th:text="'Eliminar'"
						onclick="return confirm('Seguro de querer eliminar la empresa?');"></a></td -->
					</th:block>
				</tr>
			</tbody>
		</table>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>