<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8" />
<title th:text="'Biblioteca | ' + ${titulo}"></title>

<head th:replace="layout/layout :: head"></head>

<body class="bg-light">

	<header th:replace="layout/layout :: header"></header>

	<div class="container my-4">

		<h1 class="text-warning" th:text="${titulo}"></h1>

		<div class="container">

			<h4 class="my-4">Libro</h4>
			<div class="form-group row">
				<div class="col-md-4">
					<label class="text-muted col-form-label" for="libroObj">ID</label>
					<input class="form-control" id="libroObj" th:field="${libro.id}" readonly />
				</div>
				<div class="col-md-4">
					<label class="text-muted col-form-label" for="titulo">Titulo</label>
					<input type="text" th:field="${libro.titulo}" name="titulo_libro" class="form-control" readonly />
				</div>
				<div class="col-md-4">
					<label class="text-muted col-form-label" for="autor">Autor</label>
					<input type="text" th:field="${libro.autor}" class="form-control" readonly />
				</div>
			</div>

			<h4 class="my-4">Local</h4>
			<div class="form-group row">
				<div class="col-md-6">
					<label class="text-muted col-form-label" for="local">ID</label> <input
						type="text" th:field="${libro.local.id}" name="local" id="local"
						class="form-control" readonly />
				</div>
				<div class="col-md-6">
					<label class="text-muted col-form-label" for="direccion">Dirección</label>
					<input type="text" th:field="${libro.local.direccion}"
						class="form-control" readonly />
				</div>
			</div>

			<h4 class="my-4">Usuario</h4>
			<div class="form-group row">
				<div class="col-md-6">
					<label class="text-muted col-form-label" for="usuarioObj">ID</label>
					<input class="form-control" id="usuarioObj"
						th:field="${usuario.id}" readonly />
				</div>
				<div class="col-md-6">
					<label class="text-muted col-form-label" for="nroDocumento">DNI</label>
					<input type="number" th:field="${usuario.nroDocumento}"
						class="form-control" readonly />
				</div>
				<div class="col-md-6">
					<label class="text-muted col-form-label" for="nombres">Nombre(s)</label>
					<input type="text" th:field="${usuario.nombres}"
						class="form-control" readonly />
				</div>
				<div class="col-md-6">
					<label class="text-muted col-form-label" for="apellidos">Apellidos</label>
					<input type="text" th:field="${usuario.apellidos}"
						class="form-control" readonly />
				</div>
			</div>

			<form th:action="@{/usuarios/biblioteca/solicitar-libro}"
				th:object="${prestamo}" method="post">

				<h4 class="my-4">Libro</h4>
				<div class="form-group row">
					<div class="col-md-4">
						<label class="text-muted col-form-label" for="libro">LIBRO</label>
						<input type="text" name="libro" id="libro" class="form-control"
							th:field="*{libro}" th:value="${libro.id}" readonly />
					</div>
				</div>
				<h4 class="my-4">Usuario</h4>
				<div class="form-group row">
					<div class="col-md-6">
						<label class="text-muted col-form-label" for="usuario">USUARIO</label>
						<input type="text" name="usuario" id="usuario"
							class="form-control" th:field="*{usuario}" th:value="${usuario.id}"
							readonly />
					</div>
				</div>
				<h4 class="my-4">Fecha Devolución</h4>
				<div class="form-group row">
					<div class="col-md-6">
						<input class="form-control" type="date" name="fecha_Devolucion"
							th:field="${prestamo.fecha_devolucion}" />
					</div>
				</div>

				<div class="form-group row py-4">
					<div class="col-md-6">
						<a class="btn btn-light btn-block"
							th:href="@{'/usuarios/biblioteca/'}">Cancelar</a>
					</div>
					<div class="col-md-6">
						<input class="btn btn-dark btn-block" type="submit"
							th:value="'Solicitar Libro'" />
					</div>
				</div>
			</form>

		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>