<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8" />
<title th:text="'Biblioteca | ' + ${titulo}"></title>

<head th:replace="layout/layout :: head"></head>

<body class="bg-light">

	<header th:replace="layout/layout :: header"></header>

	<div class="container my-4">

		<h1 class="text-warning" th:text="${titulo}"></h1>

		<div class="container">

			<form th:action="@{/usuarios/biblioteca/solicitar-libro}"
				method="post">

				<h4 class="my-4">Libro</h4>
				<div class="form-group row">
					<div class="col-md-4">
						<label class="text-muted col-form-label" for="libro">ID</label>
						<!-- TH:ATTR SIRVE PARA RELLENAR EL FORMULARIO CON OTRA FUENTE DE DATOS -->
						<input class="form-control" name="id_libro" id="id_libro"
							th:attr="value=${libro.id}" readonly />
					</div>
					<div class="col-md-4">
						<label class="text-muted col-form-label" for="titulo">Titulo</label>
						<input type="text" th:field="${libro.titulo}" name="titulo_libro"
							id="titulo_libro" class="form-control" readonly />
					</div>
					<div class="col-md-4">
						<label class="text-muted col-form-label" for="autor">Autor</label>
						<input type="text" th:field="${libro.autor}" name="autor_libro"
							id="autor_libro" class="form-control" readonly />
					</div>
				</div>

				<h4 class="my-4">Local</h4>
				<div class="form-group row">
					<div class="col-md-6">
						<label class="text-muted col-form-label" for="local">ID</label> <input
							type="text" th:field="${libro.local.id}" name="id_local"
							id="id_local" class="form-control" readonly />
					</div>
					<div class="col-md-6">
						<label class="text-muted col-form-label" for="direccion">Dirección</label>
						<input name="direccion_local" id="direccion_local" type="text"
							th:field="${libro.local.direccion}" class="form-control" readonly />
					</div>
				</div>

				<h4 class="my-4">Usuario</h4>
				<div class="form-group row">
					<div class="col-md-6">
						<label class="text-muted col-form-label" for="usuario">ID</label>
						<input class="form-control" id="id_usuario" name="id_usuario"
							th:attr="value=${usuario.id}" readonly />
					</div>
					<div class="col-md-6">
						<label class="text-muted col-form-label" for="nroDocumento">DNI</label>
						<input type="number" th:field="${usuario.nroDocumento}"
							id="nroDocumento_usuario" name="nroDocumento_usuario"
							class="form-control" readonly />
					</div>
					<div class="col-md-6">
						<label class="text-muted col-form-label" for="nombres">Nombre(s)</label>
						<input type="text" th:field="${usuario.nombres}"
							id="nombres_usuario" name="nombres_usuario" class="form-control"
							readonly />
					</div>
					<div class="col-md-6">
						<label class="text-muted col-form-label" for="apellidos">Apellidos</label>
						<input type="text" th:field="${usuario.apellidos}"
							id="apellidos_usuario" name="apellidos_usuario"
							class="form-control" readonly />
					</div>
				</div>

				<h4 class="my-4">Fecha Devolución</h4>
				<div class="form-group row">
					<div class="col-md-6">
						<input class="form-control datepicker" type="text"
							name="fecha_devolucion" id="fecha_devolucion"
							placeholder="Escojer fecha (1 día - 3 meses)" required autofocus />
					</div>
				</div>

				<div class="form-group row py-4">
					<div class="col-md-6">
						<a class="btn btn-light btn-block"
							th:href="@{'/usuarios/biblioteca/'}">Cancelar</a>
					</div>
					<div class="col-md-6">
						<input class="btn btn-dark btn-block" type="submit"
							th:value="'Solicitar Libro'" />
					</div>
				</div>
			</form>

		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	
	<script type="text/javascript">
		// COMPONENTE DE FECHA ESPECIFICO PARA EL FORMULARIO
		$('.datepicker').datepicker({
			format : 'yyyy-mm-dd', // FORMATO DE FECHA
			startDate : '+2d', // MUESTRA FECHA DESDE MAÑANA
			endDate : '+2m', // MUESTRA FECHA HASTA UN MAXIMO DE 3 MESES
			autoclose : true, // OCULTAR AUTOMATICAMENTE COMPONENTE AL ESCOJER FECHA
			todayHighlight : true, // ENFASIS EN EL DIA ACTUAL 
			language : 'es', // LENGUAJE DEL COMPONENTE
			templates : { // ELEMENTOS PERSONALIZADOS DEL COMPONENTE
				leftArrow : '<i class="fa fa-angle-left"></i>',
				rightArrow : '<i class="fa fa-angle-right"></i>'
			}
		});
	</script>

</body>
</html>