<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container-fluid my-5">
		<h1 class="text-warning" th:text="${titulo}"></h1>
		<form th:action="@{/agregarLibro}" th:object="${local}" method="post">
			<h3 th:text="'Datos del Local'"></h3>
			<div class="form-group">
				<label class="col-sm-2 col-form-label">Dirección</label>
				<div class="col-sm-6">
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<input hidden class="form-control" type="text" th:field="*{id}" />
					</div>
					<input readonly class="form-control" type="text"
						th:field="*{direccion}"
						th:errorclass="'form-control alert-danger'"
						placeholder="Ejm. Av. Lima 123" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 col-form-label">Empresa</label>
				<div class="col-sm-6">
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<input hidden class="form-control" type="text"
							th:field="*{empresa.id}" />
					</div>
					<input hidden class="form-control" type="text"
						th:field="*{empresa.id}" /> <input readonly class="form-control"
						type="text" th:field="*{empresa.razonSocial}" />
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-6">
					<a class="btn btn-light btn-block" th:href="@{'/locales/cancelar'}">Cancelar</a>
				</div>
				<div class="col-sm-6">
					<input class="btn btn-outline-dark btn-block" type="submit"
						th:value="'Agregar Libro'" />
				</div>
			</div>
		</form>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>