<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body class="bg-light">

	<header th:replace="layout/layout :: header"></header>

	<div class="container my-4">

		<h1 class="text-warning py-2" th:text="${titulo}"></h1>

		<p sec:authorize="hasRole('ROLE_SYSADMIN')">
			<a class="btn btn-primary btn-xs" th:href="@{/locales/crear}"><i
				class="fas fa-shield-alt"></i> Crear Local</a>
		</p>

		<h1 th:if="${#lists.isEmpty(locales)}">No hay locales asociados a
			esta empresa</h1>

		<table class="table table-responsive"
			th:if="${not #lists.isEmpty(locales)}">
			<thead>
				<tr>
					<th>Id</th>
					<th>Dirección Local</th>
					<th>Observaciones</th>
					<th>Empresa</th>
					<th>Estado</th>
					<th colspan="3">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="local: ${locales}">
					<td th:text="${local.id}"></td>
					<td th:text="${local.direccion}"></td>
					<td th:text="${local.observaciones}"></td>
					<td th:text="${local.empresa.razonSocial}"></td>

					<th:block th:with="estado=${local.estado}">
						<td th:if="${estado}">
							<h5>
								<span class="badge badge-success" th:text="'Activo'"></span>
							</h5>
						</td>
						<td th:unless="${estado}">
							<h5>
								<span class="badge badge-danger" th:text="'Inactivo'"></span>
							</h5>
						</td>
					</th:block>

					<th:block sec:authorize="hasRole('ROLE_ADMIN')">
						<td><a class="btn btn-warning btn-xs"
							th:href="@{/locales/editar/}+${local.id}"><i
								class="fas fa-shield-alt"></i> Editar</a></td>
						<td sec:authorize="hasRole('ROLE_ADMIN')"><a
							class="btn btn-dark btn-xs" th:href="@{/locales/libros/listar}">Ver
								Libros</a></td>
					</th:block>
					
					<th:block sec:authorize="hasRole('ROLE_SYSADMIN')">
						<td><a class="btn btn-info btn-xs"
							th:href="@{/locales/deshabilitar/}+${local.id}"
							onclick="return confirm('Seguro de querer deshabilitar el local?');"><i
								class="fas fa-shield-alt"></i> Deshabilitar</a></td>
					</th:block>
					
				</tr>
			</tbody>
		</table>
		
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>