<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="layout/layout :: head"></head>

  <body class="bg-light">
    <header th:replace="layout/layout :: header"></header>

    <div class="container my-3 px-5">
      <h1 class="py-4" th:text="${titulo}"></h1>

      <div class="form-group row py-1">
        <div class="col-12">
          <h3>Reporte General</h3>
        </div>
        <div class="col-10 col-md-10 col-lg-10">
          <h4 class="text-muted">Listado de todos los préstamos</h4>
        </div>
        <div class="col-6 col-md-1 col-xl-1">
          <a
            class="btn btn-transparent btn-block rounded-0 border-0 py-1"
            th:href="@{'/prestamos/reportes/pdf/prestamos-totales'}"
            target="_blank"
            data-toggle="tooltip"
            data-placement="auto"
            th:title="'Exportar PDF'"
            ><i class="fas fa-file-pdf fa-2x text-danger"></i
          ></a>
        </div>
        <div class="col-6 col-md-1 col-xl-1">
          <a
            class="btn btn-transparent btn-block rounded-0 border-0 py-1"
            th:href="@{'/prestamos/reportes/xlsx/prestamos-totales'}"
            data-toggle="tooltip"
            data-placement="auto"
            th:title="'Exportar XLSX'"
            ><i class="fas fa-file-excel fa-2x text-success"></i
          ></a>
        </div>
      </div>

      <div class="form-group row py-1">
        <div class="col-12">
          <h3>Prèstamos Pendientes</h3>
        </div>
        <div class="col-10 col-md-10 col-lg-10">
          <h4 class="text-muted">Listado de préstamos pendientes</h4>
        </div>
        <div class="col-6 col-md-1 col-xl-1">
          <a
            class="btn btn-transparent btn-block rounded-0 border-0 py-1"
            th:href="@{'/prestamos/reportes/pdf/prestamos-pendientes'}"
            target="_blank"
            data-toggle="tooltip"
            data-placement="auto"
            th:title="'Exportar PDF'"
            ><i class="fas fa-file-pdf fa-2x text-danger"></i
          ></a>
        </div>
        <div class="col-6 col-md-1 col-xl-1">
          <a
            class="btn btn-transparent btn-block rounded-0 border-0 py-1"
            th:href="@{'/prestamos/reportes/xlsx/prestamos-pendientes'}"
            data-toggle="tooltip"
            data-placement="auto"
            th:title="'Exportar XLSX'"
            ><i class="fas fa-file-excel fa-2x text-success"></i
          ></a>
        </div>
      </div>

      <div class="form-group row py-1">
        <div class="col-12">
          <h3>Prèstamos Completados</h3>
        </div>
        <div class="col-10 col-md-10 col-lg-10">
          <h4 class="text-muted">
            Listado de préstamos terminados y/o anulados
          </h4>
        </div>
        <div class="col-6 col-md-1 col-xl-1">
          <a
            class="btn btn-transparent btn-block rounded-0 border-0 py-1"
            th:href="@{'/prestamos/reportes/pdf/prestamos-completados'}"
            target="_blank"
            data-toggle="tooltip"
            data-placement="auto"
            th:title="'Exportar PDF'"
            ><i class="fas fa-file-pdf fa-2x text-danger"></i
          ></a>
        </div>
        <div class="col-6 col-md-1 col-xl-1">
          <a
            class="btn btn-transparent btn-block rounded-0 border-0 py-1"
            th:href="@{'/prestamos/reportes/xlsx/prestamos-completados'}"
            data-toggle="tooltip"
            data-placement="auto"
            th:title="'Exportar XLSX'"
            ><i class="fas fa-file-excel fa-2x text-success"></i
          ></a>
        </div>
      </div>

      <form
        th:action="@{/prestamos/reportes/buscar-empleado}"
        sec:authorize="hasRole('ROLE_SYSADMIN') || hasRole('ROLE_ADMIN')"
        method="GET"
      >
        <div class="form-group row">
          <div class="col-12">
            <h3>Filtrar Por Empleado</h3>
          </div>
        </div>
        <div class="form-group row pb-3">
          <div class="col-sm-12 col-md-8 col-xl-8 py-2">
            <input
              type="number"
              name="nroDocumentoEmpleado"
              id="nroDocumentoEmpleado"
              class="form-control rounded-0 shadow-none"
              placeholder="Buscar empleado por su DNI"
              th:value="nroDocumentoEmpleado"
            />
          </div>
          <div class="col-sm-12 col-md-4 col-xl-4 py-2">
            <input
              type="submit"
              th:value="'Verificar Disponibilidad'"
              class="btn btn-info btn-block rounded-0 border-0"
            />
          </div>
        </div>
      </form>

      <form
        th:action="@{/prestamos/reportes/buscar-usuario}"
        sec:authorize="hasRole('ROLE_SYSADMIN') || hasRole('ROLE_ADMIN') || hasRole('ROLE_EMPLEADO')"
        method="GET"
      >
        <div class="form-group row">
          <div class="col-12">
            <h3>Filtrar Por Usuario</h3>
          </div>
        </div>
        <div class="form-group row pb-3">
          <div class="col-sm-12 col-md-8 col-xl-8 py-2">
            <input
              type="number"
              name="nroDocumentoUsuario"
              id="nroDocumentoUsuario"
              class="form-control rounded-0 shadow-none"
              placeholder="Buscar usuario por su DNI"
              th:value="nroDocumentoUsuario"
            />
          </div>
          <div class="col-sm-12 col-md-4 col-xl-4 py-2">
            <input
              type="submit"
              th:value="'Verificar Disponibilidad'"
              class="btn btn-info btn-block rounded-0 border-0"
            />
          </div>
        </div>
      </form>

      <form
        th:action="@{/prestamos/reportes/buscar-local}"
        sec:authorize="hasRole('ROLE_SYSADMIN')"
        method="GET"
      >
        <div class="form-group row">
          <div class="col-12">
            <h3>Filtrar Por Local de libro</h3>
          </div>
        </div>
        <div class="form-group row pb-3">
          <div class="col-sm-12 col-md-8 col-xl-8 py-2">
            <input
              type="text"
              name="buscar_local"
              id="buscar_local"
              class="form-control rounded-0 shadow-none"
              placeholder="Buscar local por su dirección"
            />
          </div>
          <div class="col-sm-12 col-md-4 col-xl-4 py-2">
            <input
              type="submit"
              th:value="'Verificar Disponibilidad'"
              class="btn btn-info btn-block rounded-0 border-0"
            />
          </div>
        </div>
      </form>

      <form
        th:action="@{/prestamos/reportes/buscar-libro}"
        sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_EMPLEADO')"
        method="GET"
      >
        <div class="form-group row">
          <div class="col-12">
            <h3>Filtrar Por Libro</h3>
          </div>
        </div>
        <div class="form-group row pb-3">
          <div class="col-sm-12 col-md-8 col-xl-8 py-2">
            <input
              type="text"
              name="buscar_libro"
              id="buscar_libro"
              class="form-control rounded-0 shadow-none"
              placeholder="Buscar libro por su titulo"
            />
          </div>
          <div class="col-sm-12 col-md-4 col-xl-4 py-2">
            <input
              type="submit"
              th:value="'Verificar Disponibilidad'"
              class="btn btn-info btn-block rounded-0 border-0"
            />
          </div>
        </div>
      </form>

      <div class="form-group row py-4">
        <!-- WEB -->
        <div class="col-sm-12 col-md-12 py-2">
          <a
            class="btn btn-transparent btn-block shadow-none font-weight-bolder"
            th:href="@{'/prestamos/cancelar'}"
            >CANCELAR</a
          >
        </div>
      </div>
    </div>

    <footer th:replace="layout/layout :: footer"></footer>
    <script th:replace="layout/autocomplete-locales :: javascript"></script>
    <script th:replace="layout/autocomplete-libros :: javascript"></script>
    <script
      th:replace="layout/autocomplete-empleados-reporte :: javascript"
    ></script>
    <script
      th:replace="layout/autocomplete-usuarios-reporte :: javascript"
    ></script>
  </body>
</html>
