<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body class="bg-light">

	<header th:replace="layout/layout :: header"></header>

	<div class="container-fluid my-3 px-5">

		<h1 class="py-2" th:text="${titulo}"></h1>

		<div class="row pt-5 pb-4"
			sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_EMPLEADO')">
			<div class="col-sm-3 col-md-2 col-xl-1">
				<a class="btn btn-info btn-block rounded-0 border-0 py-2"
					th:href="@{/prestamos/crear}" data-toggle="tooltip"
					data-placement="top" th:title="'Generar Préstamo'"><i
					class="fas fa-plus fa-lg"></i></a>
			</div>

			<div class="col-auto">
				<a class="btn btn-transparent btn-block rounded-0 border-0 py-1"
					th:href="@{'/prestamos/listar'(format=pdf)}" data-toggle="tooltip"
					data-placement="top" th:title="'Exportar a PDF'"><i class="far fa-file-pdf fa-2x text-danger"></i></a>
			</div>
			<div class="col-auto">
				<a class="btn btn-transparent btn-block rounded-0 border-0 py-1"
					th:href="@{/prestamos/reportes/} + ${'pdf'}" data-toggle="tooltip"
					data-placement="top" th:title="'Exportar a PDF'"><i class="fas fa-file-pdf fa-2x text-danger"></i></a>
			</div>
			<div class="col-auto">
				<a class="btn btn-transparent btn-block rounded-0 border-0 py-1"
					th:href="@{/prestamos/reportes/} + ${'html'}" data-toggle="tooltip"
					data-placement="top" th:title="'Exportar en formato HTML'"><i class="fab fa-html5 fa-2x text-primary"></i></a>
			</div>
		</div>

		<div class="row pt-5 pb-4" sec:authorize="hasRole('ROLE_USER')">
			<div class="col-sm-3 col-md-2 col-xl-1">
				<a class="btn btn-info btn-block rounded-0 border-0 py-2"
					th:href="@{/prestamos/prestamos-pendientes}" data-toggle="tooltip"
					data-placement="top" th:title="'Ver Préstamos
				Pendientes'"><i
					class="fas fa-clipboard-list fa-lg"></i> <i
					class="fas fa-exclamation"></i></a>
			</div>
		</div>

		<h2 th:if="${#lists.isEmpty(prestamos)}">No hay préstamos para
			mostrar</h2>

		<table class="table table-responsive table-borderless"
			th:if="${not #lists.isEmpty(prestamos)}">
			<caption class="py-4" th:text="'Total: ' + ${#lists.size(prestamos)}"></caption>
			<thead class="table-dark">
				<tr>
					<th hidden>Id</th>
					<th>Libro</th>
					<th>Nombre Empleado</th>
					<th>Local</th>
					<th>Nombre Suscriptor</th>
					<th>Fecha Despacho</th>
					<th>Fecha Devolución/Anulación</th>
					<th>Observaciones</th>
					<th sec:authorize="!hasRole('ROLE_USER')">Estado</th>
					<th class="text-center" colspan="3"
						sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_EMPLEADO')">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="prestamo: ${prestamos}">

					<th:block
						th:if="${#strings.contains(prestamo.empleado.username, 'Prueba')}">
						<td class="align-middle" th:text="${prestamo.id}" hidden></td>
						<td class="align-middle"
							th:text="${prestamo.libro.titulo}+', '+${prestamo.libro.autor}"></td>
						<td class="align-middle" th:text="${prestamo.devolucion}?'-':'Sin confirmar'"></td>
						<td class="align-middle"
							th:text="${prestamo.empleado.local.direccion}"></td>
						<td class="align-middle"
							th:text="${prestamo.usuario.nombres}+', '+${prestamo.usuario.apellidos}"></td>
						<td class="align-middle" th:text="${prestamo.fecha_despacho}"></td>
						<td class="align-middle" th:text="${prestamo.fecha_devolucion}"></td>

						<td class="align-middle text-center" data-toggle="tooltip"
							data-placement="auto" th:title="${prestamo.observaciones}"><i
							class="fas fa-search fa-2x"></i></td>

						<th:block th:if="${prestamo.devolucion}"
							sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_EMPLEADO')">
							<td class="align-middle pl-2">
								<h5>
									<span
										class="badge badge-transparent text-success font-weight-bold"
										th:text="'Préstamo Terminado'"></span>
								</h5>
							</td>

							<td class="align-middle"><a
								class="disabled btn btn-transparent btn-block rounded-0 shadow-none"
								href="#"><i class="fas fa-book fa-2x text-secondary"></i> <i
									class="fas fa-check text-secondary"></i></a></td>
							<td class="align-middle"><a
								class="disabled btn btn-transparent btn-block rounded-0 shadow-none"
								href="#"><i class="fas fa-book fa-2x text-secondary"></i> <i
									class="fas fa-undo text-secondary"></i></a></td>
							<td class="align-middle"><a
								class="disabled btn btn-transparent btn-block rounded-0 shadow-none"
								href="#"><i class="fas fa-book fa-2x text-secondary"></i> <i
									class="fas fa-ban text-secondary"></i></a></td>
						</th:block>

						<th:block th:unless="${prestamo.devolucion}"
							sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_EMPLEADO')">
							<td class="align-middle pl-2">
								<h5>
									<span
										class="badge badge-transparent text-danger font-weight-bold"
										th:text="'Libro Sin Devolver'"></span>
								</h5>
							</td>

							<!-- 1. ORDEN SIN CONFIRMAR -->
							<td class="align-middle"><a
								class="btn btn-transparent btn-block rounded-0 shadow-none"
								th:href="@{/prestamos/confirmar-orden/}+${prestamo.id}"
								onclick="return confirm('¿Confirmar la orden de este libro?');"
								data-toggle="tooltip" data-placement="auto"
								th:title="'Confirmar Orden'"><i class="fas fa-book fa-2x"></i>
									<i class="fas fa-check text-success"></i></a></td>
							<td class="align-middle"><a
								class="disabled btn btn-transparent btn-block rounded-0 shadow-none"
								href="#"><i class="fas fa-book fa-2x text-secondary"></i> <i
									class="fas fa-undo text-secondary"></i></a></td>
							<td class="align-middle"><a
								class="disabled btn btn-transparent btn-block rounded-0 shadow-none"
								href="#"><i class="fas fa-book fa-2x text-secondary"></i> <i
									class="fas fa-ban text-secondary"></i></a></td>
						</th:block>


					</th:block>

					<th:block
						th:unless="${#strings.contains(prestamo.empleado.username, 'Prueba')}">
						<td class="align-middle" th:text="${prestamo.id}" hidden></td>
						<td class="align-middle"
							th:text="${prestamo.libro.titulo}+', '+${prestamo.libro.autor}"></td>
						<td class="align-middle"
							th:text="${prestamo.empleado.nombres}+', '+${prestamo.empleado.apellidos}"></td>
						<td class="align-middle"
							th:text="${prestamo.empleado.local.direccion}"></td>
						<td class="align-middle"
							th:text="${prestamo.usuario.nombres}+', '+${prestamo.usuario.apellidos}"></td>
						<td class="align-middle" th:text="${prestamo.fecha_despacho}"></td>
						<td class="align-middle" th:text="${prestamo.fecha_devolucion}"></td>

						<td class="align-middle text-center"><i
							class="fas fa-search fa-2x" data-toggle="tooltip"
							data-placement="auto" th:title="${prestamo.observaciones}"></i></td>

						<th:block th:if="${prestamo.devolucion}"
							sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_EMPLEADO')">
							<td class="align-middle pl-2">
								<h5>
									<span
										class="badge badge-transparent text-success font-weight-bold"
										th:text="'Préstamo Terminado'"></span>
								</h5>
							</td>

							<!-- 2. ORDEN CONFIRMADA POR USUARIO O GENERADA POR ADMIN O EMPLEADO -->
							<td class="align-middle"><a
								class="disabled btn btn-transparent btn-block rounded-0 shadow-none"
								href="#"><i class="fas fa-book fa-2x text-secondary"></i> <i
									class="fas fa-check text-secondary"></i></a></td>
							<td class="align-middle"><a
								class="disabled btn btn-transparent btn-block rounded-0 shadow-none"
								href="#"><i class="fas fa-book fa-2x text-secondary"></i> <i
									class="fas fa-undo text-secondary"></i></a></td>
							<td class="align-middle"><a
								class="disabled btn btn-transparent btn-block rounded-0 shadow-none"
								href="#"><i class="fas fa-book fa-2x text-secondary"></i> <i
									class="fas fa-ban text-secondary"></i></a></td>
						</th:block>

						<th:block th:unless="${prestamo.devolucion}"
							sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_EMPLEADO')">
							<td class="align-middle pl-2">
								<h5>
									<span
										class="badge badge-transparent text-danger font-weight-bold"
										th:text="'Libro Sin Devolver'"></span>
								</h5>
							</td>

							<!-- 2. ORDEN CONFIRMADA POR USUARIO O GENERADA POR ADMIN O EMPLEADO -->
							<td class="align-middle"><a
								class="disabled btn btn-transparent btn-block rounded-0 shadow-none"
								href="#" data-toggle="tooltip" data-placement="auto"
								th:title="'Libro Confirmado'"><i
									class="fas fa-book fa-2x text-secondary"></i> <i
									class="fas fa-check text-secondary"></i></a></td>
							<td class="align-middle"><a
								class="btn btn-transparent btn-block rounded-0 shadow-none"
								th:href="@{/prestamos/devolver-libro/}+${prestamo.id}"
								onclick="return confirm('¿Seguro de querer validar la devolución del libro?');"
								data-toggle="tooltip" data-placement="auto"
								th:title="'Devolver Libro'"><i class="fas fa-book fa-2x"></i>
									<i class="fas fa-undo text-success"></i></a></td>
							<td class="align-middle"><a
								class="btn btn-transparent btn-block rounded-0 shadow-none"
								th:href="@{/prestamos/anular-prestamo/}+${prestamo.id}"
								onclick="return confirm('Seguro de querer anular el préstamo?');"
								data-toggle="tooltip" data-placement="auto"
								th:title="'Anular Préstamo'"><i class="fas fa-book fa-2x"></i>
									<i class="fas fa-ban text-danger"></i></a></td>
						</th:block>

					</th:block>
				</tr>
			</tbody>
		</table>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>