<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="layout/layout :: head"></head>

  <body class="bg-light">
    <header th:replace="layout/layout :: header"></header>

    <div class="container px-5">
      <div class="jumbotron jumbotron-fluid bg-transparent">
        <h1 class="display-4" th:text="${titulo}"></h1>
      </div>

      <div class="form-group row mb-4">
        <div class="col-12 mb-2">
          <h3>Reporte General</h3>
        </div>
        <div class="col-10 col-md-10 col-lg-10">
          <h4 class="text-muted">Listado de todos los empleados</h4>
        </div>
        <div class="col-6 col-sm-6 col-md-1 col-xl-1">
          <a
            class="btn btn-transparent btn-block rounded-0 border-0 py-1"
            th:href="@{'/empleados/reportes/pdf/empleados-totales'}"
            target="_blank"
            data-toggle="tooltip"
            data-placement="auto"
            th:title="'Exportar PDF'"
            ><i class="fas fa-file-pdf fa-2x text-danger"></i
          ></a>
        </div>
        <div class="col-6 col-sm-6 col-md-1 col-xl-1">
          <a
            class="btn btn-transparent btn-block rounded-0 border-0 py-1"
            th:href="@{'/empleados/reportes/xlsx/empleados-totales'}"
            data-toggle="tooltip"
            data-placement="auto"
            th:title="'Exportar XLSX'"
            ><i class="fas fa-file-excel fa-2x text-success"></i
          ></a>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12">
          <h3>Filtrar Por Estado</h3>
        </div>
      </div>
      <div class="form-group row mb-4" th:each="estado, index : ${estados}">
        <h4 class="col-12 col-sm-12 col-md-10 text-muted">
          Empleados [[${estado}?'Disponibles':'No Disponibles']]
        </h4>
        <div class="col-6 col-sm-6 col-md-1 col-xl-1 text-center">
          <a
            class="btn btn-transparent btn-block rounded-0 border-0 py-1"
            th:href="@{'/empleados/reportes/pdf/empleados-por-estado/'}+${estado}"
            target="_blank"
            data-toggle="tooltip"
            data-placement="auto"
            th:title="'Exportar PDF'"
            ><i class="fas fa-file-pdf fa-2x text-danger"></i
          ></a>
        </div>
        <div class="col-6 col-sm-6 col-md-1 col-xl-1 text-center">
          <a
            class="btn btn-transparent btn-block rounded-0 border-0 py-1"
            th:href="@{'/empleados/reportes/xlsx/empleados-por-estado/'}+${estado}"
            data-toggle="tooltip"
            data-placement="auto"
            th:title="'Exportar XLSX'"
            ><i class="fas fa-file-excel fa-2x text-success"></i
          ></a>
        </div>
      </div>

      <form
        sec:authorize="hasRole('ROLE_SYSADMIN')"
        th:action="@{/empleados/reportes/buscar-empleados-por-local}"
        method="GET"
      >
        <div class="form-group row mb-4">
          <div class="col-12">
            <h3>Filtrar Por Local</h3>
          </div>
        </div>
        <div class="form-group row mb-4">
          <div class="col-sm-12 col-md-8 col-xl-8 py-2">
            <input
              type="text"
              name="buscar_local"
              id="buscar_local"
              class="form-control rounded-0 shadow-none"
              placeholder="Buscar empleados por su local"
            />
          </div>
          <div class="col-sm-12 col-md-4 col-xl-4 py-2">
            <input
              type="submit"
              th:value="'Verificar Disponibilidad'"
              class="btn btn-info btn-block rounded-0 border-0"
            />
          </div>
        </div>
      </form>

      <div class="form-group row py-4">
        <!-- WEB -->
        <div class="col-sm-12 col-md-12 my-4">
          <a
            class="btn btn-transparent btn-block shadow-none font-weight-bolder"
            th:href="@{'/empleados/cancelar'}"
            >CANCELAR</a
          >
        </div>
      </div>
    </div>

    <footer th:replace="layout/layout :: footer"></footer>
    <script th:replace="layout/autocomplete-locales :: javascript"></script>
  </body>
</html>
