<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body class="bg-light">

	<header th:replace="layout/layout :: header"></header>

	<div
		class="alert alert-success alert-dismissible fade show d-none rounded-0"
		role="alert" id="formSuccess"></div>

	<div class="container my-3 px-5">

		<h1 class="py-4" th:text="${titulo}"></h1>

		<form th:action="@{/empleados/editar-perfil}" th:object="${empleado}"
			method="post" enctype="multipart/form-data">

			<h4 class="my-4" th:text="'Datos personales'"></h4>
			<div class="form-group row">
				<div class="col-sm-12 col-md-12 col-lg-6">
					<label class="col-form-label">Nombre(s)</label> <input
						class="form-control rounded-0 shadow-none" type="text"
						th:field="${empleado.nombres}"
						th:errorclass="'form-control alert-danger'"
						placeholder="Nombre Completo" autofocus /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('nombres')}"
						th:errors="${empleado.nombres}"></small>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-6">
					<label class="col-form-label">Apellidos</label> <input
						class="form-control rounded-0 shadow-none" type="text"
						th:field="${empleado.apellidos}"
						th:errorclass="'form-control alert-danger'"
						placeholder="Apellido Paterno y Materno" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('apellidos')}"
						th:errors="${empleado.apellidos}"></small>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-6">
					<label class="col-form-label">DNI</label> <input
						class="form-control rounded-0 shadow-none" type="number"
						th:field="${empleado.nroDocumento}"
						th:errorclass="'form-control alert-danger'"
						placeholder="Ejm. &quot;00000000&quot;" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('nroDocumento')}"
						th:errors="${empleado.nroDocumento}"></small>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-6">
					<label class="col-form-label">Celular</label> <input
						class="form-control rounded-0 shadow-none" type="number"
						th:field="${empleado.celular}"
						th:errorclass="'form-control alert-danger'"
						placeholder="Ejm. &quot;99999999&quot;" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('celular')}"
						th:errors="${empleado.celular}"></small>
				</div>
				<div class="col-sm-12 col-md-12">
					<label class="col-form-label">Dirección</label> <input
						class="form-control rounded-0 shadow-none" type="text"
						th:field="${empleado.direccion}"
						th:errorclass="'form-control alert-danger'"
						placeholder="Av / Jr / Calle" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('direccion')}"
						th:errors="${empleado.direccion}"></small>
				</div>
			</div>

			<h4 th:text="'Datos de usuario'"></h4>
			<div class="form-group row">
				<div class="col-sm-12 col-md-12 col-lg-6">
					<label class="col-form-label">Usuario</label> <input
						class="form-control rounded-0 shadow-none" type="text"
						th:field="${empleado.username}"
						th:errorclass="'form-control alert-danger'"
						placeholder="Usuario..." /> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('username')}"
						th:errors="${empleado.username}"></small>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-6">
					<label class="col-form-label">Email</label> <input
						class="form-control rounded-0 shadow-none" type="email"
						th:field="${empleado.email}"
						th:errorclass="'form-control alert-danger'"
						placeholder="test@email.com" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('email')}"
						th:errors="${empleado.email}"></small>
				</div>
			</div>
			<div class="form-group" th:if="${editable==null or editable==false}">
				<div class="col-sm-12 col-md-12">
					<label class="col-form-label">Contraseña</label> <input readonly
						class="form-control rounded-0 shadow-none" type="password"
						th:field="${empleado.password}"
						th:errorclass="'form-control alert-danger'"
						placeholder="Contraseña..." /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('password')}"
						th:errors="${empleado.password}"></small>
				</div>
				<div class="col-sm-12 col-md-12">
					<label class="col-form-label">Confirmar Contraseña</label> <input
						readonly class="form-control rounded-0 shadow-none"
						type="password" th:field="${empleado.passwordConfirmacion}"
						th:errorclass="'form-control alert-danger'"
						placeholder="Escribe nuevamente tu contraseña..." /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('passwordConfirmacion')}"
						th:errors="${empleado.passwordConfirmacion}"></small>
				</div>
			</div>

			<div class="form-group row" hidden>
				<div class="col-sm-12 col-md-12 col-lg-6">
					<label class="col-form-label">Rol</label> <select
						multiple="multiple" th:size="${#lists.size(roles)}"
						class="form-control custom-select rounded-0 shadow-none"
						th:field="${empleado.roles}"
						th:errorclass="'form-control alert-danger'">
						<option th:each="rol :${roles}" th:value="${rol.id}"
							th:text="${rol.authority}"></option>
					</select> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('roles')}"
						th:errors="${empleado.roles}"></small>
				</div>
			</div>

			<h4 class="mb-4">Foto</h4>
			<div class="form-group row">
				<div class="col-sm-12 col-md-12 col-lg-6 p-3"
					style="text-align: center;">
					<img
						th:if="${empleado.foto_empleado!=null && #strings.length(empleado.foto_empleado) > 0}"
						name="imgActual" class="img-thumbnail rounded-0 shadow-none"
						style="max-width: 70%;" th:alt="${empleado.foto_empleado}"
						th:src="@{'/uploads/'+${empleado.foto_empleado}}">
				</div>
				<div class="col-sm-12 col-md-12 col-lg-6 p-3"
					style="position: relative;">
					<input style="position: absolute; bottom: 0;"
						class="form-control-file rounded-0 shadow-none" type="file"
						name="foto_emp" /> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('foto_empleado')}"
						th:errors="*{foto_empleado}"></small>
				</div>
			</div>

			<div class="form-group row py-3">
				<!-- MOVIL -->
				<div class="col-6 d-block d-sm-none">
					<a class="btn btn-transparent btn-block rounded-0 shadow-none"
						th:href="@{'/home'}"><i class="fas fa-times fa-2x"></i></a>
				</div>
				<div class="col-6 d-block d-sm-none">
					<button
						class="btn btn-outline-success btn-block rounded-0 border-0 shadow-none"
						type="submit">
						<i class="fas fa-check fa-2x"></i>
					</button>
				</div>

				<!-- WEB -->
				<div class="col-sm-6 col-md-6 py-2 d-none d-sm-block">
					<a
						class="btn btn-transparent btn-block shadow-none font-weight-bolder"
						th:href="@{'/home'}">CANCELAR</a>
				</div>
				<div class="col-sm-6 col-md-6 py-2 d-none d-sm-block">
					<input
						class="btn btn-outline-success btn-block border-0 shadow-none font-weight-bolder"
						type="submit" th:value="'GUARDAR CAMBIOS'" />
				</div>
			</div>

		</form>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>