<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title th:text="'Biblioteca | ' + ${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
</head>
<body class="d-flex flex-column h-100">

	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#">Biblioteca</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" th:href="@{/home}"><i
							class="fas fa-home"></i> Inicio </a></li>
					<li class="nav-item"><a class="nav-link"
						sec:authorize="hasRole('ROLE_ADMIN')"
						th:href="@{/empresas/listar}"><i class="fas fa-shield-alt"></i>
							Empresa</a></li>
					<li class="nav-item"><a class="nav-link"
						sec:authorize="hasRole('ROLE_ADMIN')"
						th:href="@{/empleados/listar}"><i class="fas fa-shield-alt"></i>
							Empleados</a></li>
					<li class="nav-item"><a class="nav-link"
						sec:authorize="hasRole('ROLE_ADMIN')"
						th:href="@{/categorias/listar}"><i class="fas fa-shield-alt"></i>
							Categorias</a></li>
					<li class="nav-item"><a class="nav-link"
						sec:authorize="hasRole('ROLE_ADMIN')"
						th:href="@{/locales/libros/listar}"><i class="fas fa-book"></i>
							Libros</a></li>
					<li class="nav-item"><a class="nav-link"
						sec:authorize="hasRole('ROLE_ADMIN')"
						th:href="@{/usuarios/listar}"><i class="fas fa-shield-alt"></i>
							Usuarios</a></li>
					<li class="nav-item"><a class="nav-link"
						sec:authorize="hasRole('ROLE_ADMIN')"
						th:href="@{/prestamos/listar}"><i class="fas fa-shield-alt"></i>
							Préstamos</a></li>
					<li class="nav-item"><a class="nav-link"
						sec:authorize="hasRole('ROLE_EMPLEADO')"
						th:href="@{/locales/libros/listar}"><i class="fas fa-book"></i>
							Libros</a></li>
					<li class="nav-item"><a class="nav-link"
						sec:authorize="hasRole('ROLE_EMPLEADO')"
						th:href="@{/usuarios/listar}"><i class="fas fa-user"></i>
							Usuarios</a></li>
					<li class="nav-item"><a class="nav-link"
						sec:authorize="hasRole('ROLE_EMPLEADO')"
						th:href="@{/prestamos/listar}"><i
							class="fas fa-clipboard-list"></i> Préstamos</a></li>
					<li class="nav-item"><a class="nav-link"
						sec:authorize="hasRole('ROLE_USER')"
						th:href="@{/usuarios/biblioteca}"><i class="fas fa-book"></i>
							Ver libros</a></li>
					<li class="nav-item"><a class="nav-link"
						sec:authorize="hasRole('ROLE_USER')"
						th:href="@{/prestamos/historial-user}"><i
							class="fas fa-clipboard-list"></i> Historial Préstamos</a></li>
				</ul>

				<ul class="navbar-nav">
					<li sec:authorize="!isAuthenticated()" class="btn btn-dark"><a
						class="nav-link" th:href="@{/login}">Iniciar Sesión</a></li>
					<li sec:authorize="isAuthenticated()" class="dropdown show"><a
						class="btn dropdown-toggle text-white" href="#" role="button"
						id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> <span sec:authentication="name"></span>
					</a>
						<div class="dropdown-menu bg-light"
							aria-labelledby="dropdownMenuLink">
							<a
								sec:authorize="hasRole('ROLE_EMPLEADO') || hasRole('ROLE_ADMIN')"
								class="dropdown-item bg-light"
								th:href="@{/empleados/editar-perfil}">Mi Perfil</a> <a
								sec:authorize="hasRole('ROLE_EMPLEADO') || hasRole('ROLE_ADMIN')"
								class="dropdown-item bg-light"
								th:href="@{/empleados/cambio-password}">Cambiar Password</a> <a
								sec:authorize="hasRole('ROLE_USER')"
								class="dropdown-item bg-light"
								th:href="@{/usuarios/editar-perfil}">Mi Perfil</a> <a
								sec:authorize="hasRole('ROLE_USER')"
								class="dropdown-item bg-light"
								th:href="@{/usuarios/cambio-password}">Cambiar Password</a>
							<form id="logoutForm" th:action="@{/logout}" method="post">
								<button class="dropdown-item bg-light"
									onclick="javascript: terminarSesion();" type="button">Cerrar
									Sesión</button>
							</form>
						</div></li>
				</ul>
			</div>
		</nav>

		<div style="padding-top: 55px;">
			<!-- Mensajes flash para indicar el estado de las peticiones -->
			<div id="alertPers"
				class="alert alert-success alert-dismissible fade show" role="alert"
				th:if="${success!=null}" th:text="${success}">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div id="alertPers"
				class="alert alert-danger alert-dismissible fade show" role="alert"
				th:if="${error!=null}" th:text="${error}">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div id="alertPers"
				class="alert alert-warning alert-dismissible fade show" role="alert"
				th:if="${warning!=null}" th:text="${warning}">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div id="alertPers"
				class="alert alert-info alert-dismissible fade show" role="alert"
				th:if="${info!=null}" th:text="${info}">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>


	</header>

	<footer th:fragment="footer" class="footer mt-auto py-3 text-center">
		<p class="text-muted">Biblioteca ©2020</p>
		<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/snbutton.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
		<script th:src="@{/js/font-awesome.js}"></script>
		<script type="text/javascript">
			setTimeout(function() {
				$("#alertPers").alert('close');
			}, 3000);

			$(function() {
				$('[data-toggle="tooltip"]').tooltip()
			});

			function terminarSesion() {
				var r = confirm('Desea terminar la sesión?');
				if (r == true) {
					document.forms["logoutForm"].submit();
				} else {
					return false;
				}
			}
		</script>
	</footer>

</body>
</html>