<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body class="bg-light">

	<header th:replace="layout/layout :: header"></header>

	<div class="container-fluid my-3 px-5">

		<h1 class="text-warning py-2" th:text="${titulo}"></h1>

		<div class="row pb-4"
			sec:authorize="hasRole('ROLE_SYSADMIN') || hasRole('ROLE_ADMIN')">
			<div class="col-md-2 col-xl-1">
				<a class="btn btn-primary btn-block" th:href="@{/categorias/crear}"
					data-toggle="tooltip" data-placement="top" title="Crear Categoría">
					<i class="fas fa-lg fa-plus"></i>
				</a>
			</div>
		</div>

		<h1 th:if="${#lists.isEmpty(categorias)}">No hay categorias</h1>

		<table class="table table-responsive"
			th:if="${not #lists.isEmpty(categorias)}">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Estado</th>
					<th colspan="2">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="categoria: ${categorias}">
					<td th:text="${categoria.id}"></td>
					<td th:text="${categoria.nombre}"></td>

					<th:block th:with="estado=${categoria.estado}">
						<td th:if="${estado}">
							<h5>
								<span class="badge badge-success" th:text="'Activo'"></span>
							</h5>
						</td>

						<th:block
							sec:authorize="hasRole('ROLE_SYSADMIN') || hasRole('ROLE_ADMIN')">

							<th:block th:if="${estado}">
								<td class="px-2 py-auto"><a
									class="btn btn-warning btn-block"
									th:href="@{/categorias/crear/}+${categoria.id}"
									data-toggle="tooltip" data-placement="top"
									title="Editar Categoría"><i class="far fa-edit"></i></a></td>
								<td class="px-2 py-auto"><a class="btn btn-info btn-block"
									th:href="@{/categorias/deshabilitar/}+${categoria.id}"
									onclick="return confirm('Seguro de querer deshabilitar la categoría?');"
									data-toggle="tooltip" data-placement="top"
									title="Deshabilitar Categoría"><i class="fas fa-ban"></i></a></td>
							</th:block>

							<th:block th:unless="${estado}">
								<td>
									<h5>
										<span class="badge badge-danger" th:text="'Inactivo'"></span>
									</h5>
								</td>
								<td class="px-2 py-auto"><a
									class="disabled btn btn-secondary btn-xs" th:href="'#'"><i
										class="far fa-edit"></i></a></td>
								<td class="px-2 py-auto"><a
									class=" disabled btn btn-secondary btn-xs" th:href="'#'"><i
										class="fas fa-ban"></i></a></td>
							</th:block>

						</th:block>

					</th:block>
				</tr>
			</tbody>
		</table>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>