<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body class="bg-light">

	<header th:replace="layout/layout :: header"></header>

	<div class="container-fluid my-3 px-5">

		<h1 class="text-warning py-2" th:text="${titulo}"></h1>

		<div class="row pb-4"
			sec:authorize="hasRole('ROLE_SYSADMIN') || hasRole('ROLE_ADMIN')">
			<div class="col-sm-3 col-md-2 col-xl-1">
				<a class="btn btn-primary btn-block rounded-0 border-0"
					th:href="@{/categorias/crear}" data-toggle="tooltip"
					data-placement="auto" th:title="'Nuevo'"><i
					class="fas fa-lg fa-plus fa-2x"></i> </a>
			</div>
		</div>

		<h1 th:if="${#lists.isEmpty(categorias)}">No hay categorias</h1>

		<table class="table table-responsive"
			th:if="${not #lists.isEmpty(categorias)}">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Estado</th>
					<th colspan="2">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="categoria: ${categorias}">
					<td class="align-middle" th:text="${categoria.id}"></td>
					<td class="align-middle" th:text="${categoria.nombre}"></td>

					<th:block th:with="estado=${categoria.estado}">
						<td class="align-middle" th:if="${estado}">
							<h5>
								<span class="badge badge-success" th:text="'Activo'"></span>
							</h5>
						</td>

						<th:block
							sec:authorize="hasRole('ROLE_SYSADMIN') || hasRole('ROLE_ADMIN')">

							<th:block th:if="${estado}">
								<td class="align-middle"><a
									class="btn btn-transparent btn-block rounded-0 shadow-none"
									th:href="@{/categorias/crear/}+${categoria.id}"
									data-toggle="tooltip" data-placement="auto"
									th:title="'Editar'"><i
										class="far fa-edit fa-2x text-warning"></i> </a></td>
								<td class="align-middle"><a
									class="btn btn-transparent btn-block rounded-0 shadow-none"
									th:href="@{/categorias/deshabilitar/}+${categoria.id}"
									onclick="return confirm('Seguro de querer deshabilitar la categoría?');"
									data-toggle="tooltip" data-placement="auto"
									th:title="'Deshabilitar'"><i
										class="fas fa-ban fa-2x text-info"></i> </a></td>
							</th:block>

							<th:block th:unless="${estado}">
								<td class="align-middle">
									<h5>
										<span class="badge badge-danger" th:text="'Inactivo'"></span>
									</h5>
								</td>
								<td class="align-middle"><a
									class="disabled btn btn-transparent btn-block rounded-0 shadow-none"
									th:href="'#'"><i class="far fa-edit fa-2x text-secondary"></i>
								</a></td>
								<td class="align-middle"><a
									class=" disabled btn btn-transparent btn-block rounded-0 shadow-none"
									th:href="'#'"><i class="fas fa-ban fa-2x text-secondary"></i>
								</a></td>
							</th:block>

						</th:block>

					</th:block>
				</tr>
			</tbody>
		</table>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>